/* Custom css */
body {
  padding-bottom: 40px;
  background-color: #eee;
}
.signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.issueid {
  color:#ccc;
}
.label-cloud {
  margin: 5px;
}
.edit-button {
  margin-right:10px;
}