<div class="row">
  <div class ="col-md-6">
  <div class="jumbotron">
    <h1>StoryMap</h1>
    <p>A tagline with a more in-depth description</p>
  </div>
  </div>
  <div class="col-md-6">
    <form class="form-signin" action="project_select.html">
      <h3 class="form-signin-heading text-center">Please sign in to Github</h3>
      <section class="text-center">
      <p></p>
        <img src="img/GitHub-Mark-120px-plus.png">
        <p></p>
      </section>
      <button class="btn btn-block btn-primary btn-lg" type="submit">Sign in</button>
    </form>
  </div>
</div>