<div class="row">
  <div class ="col-md-6">
  <div class="jumbotron">
    <h1>StoryMap</h1>
    <p>A tagline with a more in-depth description</p>
  </div>
  </div>
  <div class="col-md-6 signin">
      <h3 class="signin-heading text-center">Please authenticate with Github</h3>
      <section class="text-center">
      <p></p>
      <img src="img/GitHub-Mark-120px-plus.png">
      <p></p>
      </section>
      <div class="btn btn-block btn-primary btn-lg" id="loginbtn">Go!</div>
  </div>
</div>