<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
    </button>
    <a href="/#/" class="navbar-brand">402 StoryMap</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="">
        <a href="/#/projects">Repositories</a>
      </li>
      <li class="">
        <a href="#">About</a>
      </li>
      <li class="">
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
</div>