<!doctype html>

<html>
  
  <head>
    <title>Story Map</title>
    <meta name="viewport" content="width=device-width">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/colorpicker.css">
    <link rel="stylesheet" type="text/css" href="css/datepicker.css">
    <link rel="stylesheet" type="text/css" href="css/nprogress.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- JS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/lib/bootstrap-colorpicker.js"></script><!-- Colorpicker popup -->
    <script type="text/javascript" src="/js/lib/bootstrap-datepicker.js"></script><!-- Datepicker popup -->
    <script type="text/javascript" src="/js/lib/handlebars-v1.3.0.js"></script><!-- Template framework -->
    <script type="text/javascript" src="/js/lib/typeahead.bundle.min.js"></script><!-- Prediction popup -->
    <script type="text/javascript" src="/js/lib/routie.js"></script><!-- Routing library -->
    <script type="text/javascript" src="/js/lib/nprogress.js"></script><!-- Progress bar -->      
  </head>
  
  <body data-offset="230">
    <div class="navbar navbar-default navbar-fixed-top" id="nav">
    <!-- Navbar here -->
    </div>
    <div class="container" id="content">
    <!-- Content here -->
    </div>
    <!-- js libraries -->
    <script type="text/javascript" src="/js/lib/underscore.js"></script><!-- github.js dependency --> 
    <script type="text/javascript" src="/js/lib/github.js"></script>           
    <!-- js -->         
    <script type="text/javascript" src="/js/storymap.js"></script>
    <script type="text/javascript" src="/js/storymap.util.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>