/* Custom css */
body {
  padding-bottom: 40px;
  background-color: #eee;
}
.signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.issueid {
  color:#ccc;
}
.label-cloud {
  margin: 5px;
}
.edit-button {
  margin-right:10px;
}
a.nolink,
a:hover.nolink {
  text-decoration: none;
  color: #333;
}
.odd {
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: #DDD;
}
.profile {
  float:right;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 20px;
  margin-right: 20px;
}
.profile span{
    padding-left: 5px;
}
.avatar {
  max-height: 40px;
  padding: 2px;   
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.ss-container {
  position: relative;
  width: 180px;
  height: 700px;
}
.ss-container div {
  height: 120px;
  position: absolute;
  width: 120px;
}

@media(min-width: 768px) {
  .affix {
    width: 750px;
  }
}

@media(min-width: 992px) {
  .affix {
    width: 970px;
  }
}

@media(min-width: 1200px) {
  .affix {
    width: 1170px;
  }
}

.affix {
  position: fixed;
  top: 0;
  background-color: #EEE;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1001;
}
