/* Custom css */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  /* Removes padding behaviour on widths */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
         box-sizing: border-box;
}
body {
  padding-bottom: 40px;
  background-color: #eee;
  height: 80%; 
  padding-top: 50px;
}
.signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.label-cloud {
  margin: 5px;
}
.edit-button {
  margin-right:10px;
}
a.nolink,
a:hover.nolink {
  text-decoration: none;
  color: #333;
}
.odd {
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: #DDD;
}
.profile {
  float:left;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 20px;
  margin-right: 20px;
}
.profile span{
  padding-left: 5px;
}
.avatar {
  max-height: 40px;
  padding: 2px;   
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 8px;
}
.org-project {
  background-color: #FCF8E9;
}

/* Features */
#story-map-headers {
  background-color: #eee;
  position: fixed;
  margin-left: -20px;
  padding-left: 20px;
  border-bottom: 3px #CCC solid;
  z-index: 100;
}
.feature {
  height: 4em;
  padding: 8px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow:ellipsis;
}
/* Sprints*/

/* Story */
.panel-story {
  padding: 0px;
  overflow:hidden; 
  text-overflow:ellipsis;
  max-height: 155px;
}
.panel-header {
  height: 2em;
  padding: 5px;
  background-color: #ddd;
  margin: 0;
}
.issueid {
  padding-left: 3px;
  padding-right: 3px;
  color:#2a6496;
}
.comments {
  padding-left: 8px;
  padding-right: 2px;
}
.comment-date {
  color: #ccc;
  font-size: 0.8em;
}
.delete-epic {
  color: #444;
  float: right;
  cursor: pointer;
  margin: 5px;
}
.pointer {
	cursor: pointer;
}
.story-title {
  font-size: 1em;
  font-weight: bold;
  overflow:hidden; 
  text-overflow:ellipsis;
  max-height: 120px;
  padding: 8px;
}
.new-label {
  max-width: 16em;
  box-sizing: border-box;
}
.delete-label {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  margin-right: 2px;
}
.tt-dropdown-menu {
  z-index: 1050 !important;
  width: 100%;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0);
  border: 1px solid #CCC;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555;
}
.tt-suggestion {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  text-align: left;
  vertical-align: middle;
  background-color: #FFF;
  background-image: none;
}
.tt-cursor {
  background-color: #ccc;
}
.btn-middle {
  border-radius: 0;
}
.btn-end {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-start {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-merge {
  vertical-align: top;
  margin-left:-5px;
}
.btn-state {
  color: #FFF;
}
.btn-state.disabled, .btn-state[disabled], fieldset[disabled] .btn-state {
  opacity: .20;
  filter: alpha(opacity=20);
}
#labellist {
  max-width: 8em;
}
#newLabelColorInput {
  width: 0px;
  height: 0px;
  border: none;
  vertical-align: bottom;
  margin-left: -5px;
}
/* Content */
.col-map {
  width: 150px;
  min-height: 100px;
  float: left;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}
.over {
  border: 2px dashed #fff;
  border-radius: 5px;
}
.dragged {
  opacity: 0.4;
}
.col-sprint {
  width:210px;
}
.horizontal {
  overflow: scroll;
  padding-left: 10px;
}
.horizontal-inner {
  margin-top: 150px;
}
.horizontal-inner .row {
  min-height: 100px;
}
.epics, 
.epic {
  min-height: 50px;
}
#menu {
  position: fixed;
  z-index: 1010;
  padding: 10px;
  width:215px;
  background-color: #eee;
  margin-left: -20px;
}
.sprint-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.edit-sprint {
  margin-right: 3px;
  margin-top: 8px;
  cursor: pointer;
  z-index: 100;
}
.sprint-avatar {
	max-height: 15px;
	max-width: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.workers {
  padding-top: 5px;
  padding-bottom: 5px;
}
#createModal a, #createModal span {
  color: #000;
}
#createModal .glyphicon-plus:before {
  font-size: 0.8em;
  padding-left: 10px;
  padding-right: 10px;
}
.features-title {
  padding-left: 20px;
}
.break-word {
  word-wrap: break-word;
}
.progress-sprint {
  height: 10px;
  margin-bottom: 0;
}
.container-large{
    width: 100%;
    float: right;
}