<!doctype html>

<html>
  
  <head>
    <title>Story Map</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/frameworks/bootstrap/3.0.0/themes/cirrus/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/handlebars-v1.3.0.js"></script>
    <script type="text/javascript" src="/js/routie.js"></script>
    <script type="text/javascript" src="/js/jquery.shapeshift.min.js"></script>
  </head>
  
  <body>
    <div class="navbar navbar-default" id="nav">
    <!-- Navbar here -->
    </div>
    <div class="container" id="content">
    <!-- Content here -->
    </div>
    <!-- js -->
    <script type="text/javascript" src="/js/underscore.js"></script>  
    <script type="text/javascript" src="/js/github.js"></script>           
    <script type="text/javascript" src="/js/storymap.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>