<!doctype html>

<html>
  
  <head>
    <title>Story Map</title>
    <meta name="viewport" content="width=device-width">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/colorpicker.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- JS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/handlebars-v1.3.0.js"></script>
    <script type="text/javascript" src="/js/routie.js"></script>
    <script type="text/javascript" src="/js/jquery.shapeshift.min.js"></script>
    <script type="text/javascript" src="/js/gridline.js"></script>
    <script type="text/javascript" src="/js/bootstrap-colorpicker.js"></script>
  </head>
  
  <body>
    <div class="navbar navbar-default" id="nav">
    <!-- Navbar here -->
    </div>
    <div class="container" id="content">
    <!-- Content here -->
    </div>
    <!-- js -->
    <script type="text/javascript" src="/js/underscore.js"></script>  
    <script type="text/javascript" src="/js/github.js"></script>           
    <script type="text/javascript" src="/js/storymap.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>