<div class="row">
  <div class ="col-md-8">
  <div class="jumbotron">
    <h1>Story Map</h1>
    <p>An agile tool using Github to map project management.</p>
    <p><small><i>A user story map arranges user stories into a useful model to help understand the functionality of the system, identify holes and omissions in your backlog, and effectively plan holistic releases that deliver value to users and business with each release</i> - Jeff Patton in <a href="http://www.agileproductdesign.com/blog/the_new_backlog.html" target="_blank">The New User Story Backlog Is a Map</a>.
    </small></p>
  </div>
  </div>
  <div class="col-md-4 signin">
    <div class="jumbotron">
      <h3 class="signin-heading text-center">Login</h3>
      <section class="text-center">
      <p></p>
      <img src="img/GitHub-Mark-120px-plus.png">
      <p></p>
      </section>
      <div class="btn btn-block btn-primary btn-lg" id="loginbtn">Authenticate with Github</div>
    </div>
  </div>
</div>