<div id="nav-bar" class="container-large">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
    </button>
  {{#if login}}
    <div class="profile">
      <a class="navbar-link" href="{{html_url}}" target="_blank"><img class="avatar" src="{{avatar_url}}"><span>{{login}}</span></a>
    </div>
  {{/if}}
    <a href="/" class="navbar-brand">Story Map</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li id="projects">
        <a href="/#/projects">Repositories</a>
      </li>
      <li id="about">
        <a href="/#/about">About</a>
      </li>
    </ul>
       <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/stagg/Story-Map" target="_blank">Story Map on Github</a></li>
        {{#if login}}
        <li class="logout"><a href="/#/logout">Logout</a></li>
        {{/if}}
      </ul>
  </div>
</div>