    <div id="story-map">
    </div>
    <!-- Modal epic-->
    <div class="modal fade" id="createEpicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Create Feature</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <input id="createEpicName" type="text" class="form-control" placeholder="Name" />
                </div>
              </div>
              <p></p>
              <div class="row">
                <div class="col-md-12">
                  <input type="text" id="createEpicColour" class="form-control" placeholder="Colour">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" id="createEpicBtn" data-dismiss="modal">Create</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal epic-->
    <!-- Modal sprint-->
    <div class="modal fade" id="createSprintModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Create Sprint</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <input id="createSprintTitle" type="text" class="form-control" placeholder="Title" />
                </div>
              </div>
              <p></p>
              <div class="row">
                <div class="col-md-12">
                  <textarea id="createSprintDesc" class="form-control" placeholder="Description"></textarea>
                </div>
              </div>
              <p></p>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" id="createSprintStartDate" class="form-control" placeholder="Start Date">
                </div>
                <div class="col-md-6">
                  <input type="text" id="createSprintDueDate" class="form-control" placeholder="Due Date">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" id="createSprintBtn" data-dismiss="modal">Create</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal sprint-->
    <!-- Modal story-->
    <div class="modal fade" id="storyModal" tabindex="-1" role="dialog" aria-labelledby="storyModal" aria-hidden="true">
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal story-->
    <!-- Modal create story -->
    <div class="modal fade" id="createStoryModal" tabindex="-1" role="dialog" aria-labelledby="createStoryModal" aria-hidden="true">
    </div>
    <!-- /.modal create story -->
